/* classe per i tooltip */
.tooltip {
    -fx-background-color: #6b3640;
    -fx-text-fill: #e7d388;
    -fx-font-size: 15;
    -fx-font-family: "Arial";
}

.textfields {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.textfields:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;;
    -fx-border-width: 0 0 2.5 0;
    -fx-border-color: #6b3640;
    -fx-padding: 0 0 0 0;
}

.buttons {
    -fx-background-color: #6b3640;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;

    -fx-background-radius: 20;

    -fx-text-fill: #e7d388;
}

.inputlines {
    -fx-stroke: #6b3640;
}

.buttonWithImage {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

/* radio-button .radio è il cerchio che indica la selezione del radiobutton */
.radio-button .radio {
    -fx-border-color: transparent;
    -fx-background-color: #6b3640;
    -fx-mark-color: #e7d388;
}

/* la barra di gestione della finestra (minimizza, massimizza, chiudi) deve avere il bordo inferiore di colore #6b3640 */
.window-handling-bar {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 3 0;
}

/* bordo laterale destro di colore #6b3640 */
.sidebar {
    -fx-border-color: lightgray;
    -fx-border-width: 0 3 0 0;
}


.view {
    -fx-background-color: #f4f4f4;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 0 0;
}

.stackpane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}